@model CP_LAB_5.Models.ViewModels.ProfileViewModel

<h1>Профіль</h1>
<hr />
<div class="row">
    <div class="col-md-4">
            <div class="form-group">
            <label class="control-label">Імя Користувача: @Model.UserName</label>
            </div>
            <div class="form-group">
                <label class="control-label">ФІО: @Model.FIO</label>
            </div>
            <div class="form-group">
                <label class="control-label">Email: @Model.Email</label>
            </div>
            <div class="form-group">
                <label class="control-label">Телефон: @Model.Phone</label>
            </div>
            <div class="form-group">
                <label class="control-label">Пароль: @Model.Password</label>
            </div>
    </div>
</div>